<header class="site-header">
  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>

    <!-- Scroll to publications section on the landing page -->
    <a href="{{ '/#publications' | relative_url }}" class="nav-link">Publications</a>

    <a href="{{ '/404.html' | relative_url }}" class="nav-link">Teaching & Outreach</a>
    <a href="{{ '/404.html' | relative_url }}" class="nav-link">News</a>
    <a href="{{ '/404.html' | relative_url }}" class="nav-link">About</a>
  </nav>
</header>